<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="InitBalance" value="500" />
    <add key="CardGameImagePath" value="..\..\Images\Cards\" />
    <add key="CardGameImageSkinPath" value="..\..\Images\Cards\cardSkin.png" />
    <add key="CardGameImageExtension" value=".gif" />
  </appSettings>
  <!--<userSettings>
    <BlackJackOne.Properties.Settings>
      <setting name="InitBalance" serializeAs="String">
        <value>500</value>
      </setting>
    </BlackJackOne.Properties.Settings>
  </userSettings>-->
  <!--<applicationSettings>
    <BlackJack.Properties.Settings>
      <setting name="CardGameImagePath" serializeAs="String">
        <value>..\..\Images\Cards\</value>
      </setting>
      <setting name="CardGameImageSkinPath" serializeAs="String">
        <value>..\..\Images\Cards\cardSkin.png</value>
      </setting>
      <setting name="CardGameImageExtension" serializeAs="String">
        <value>.gif</value>
      </setting>
    </BlackJack.Properties.Settings>
  </applicationSettings>-->
</configuration>